*{
    width: 300px;
    margin: auto;
}
#p1{
    margin: 50px;
    text-align: start;
    border: 5px solid yellow;
    list-style-type: none;
    height: 300px;
    position: sticky;
    overflow: scroll;
}
.p2{
    background-color: skyblue;
}
html{
    background-color: grey;
}
#p2  :nth-child(1){
    background-color: rgb(47, 78, 255);
    color: rgb(17, 1, 1);
    position: sticky;
    top: 0;
}
#p2  :nth-child(6){
    background-color: rgb(255, 54, 47);
    color: rgb(20, 2, 2);
    position: sticky;
    top: 0;
}
#p2  :nth-child(11){
    background-color: rgb(47, 255, 168);
    color: rgb(8, 1, 1);
    position: sticky;
    top: 0;
}
#p2  :nth-child(16){
    background-color: rgb(255, 47, 220);
    color: rgb(14, 6, 6);
    position: sticky;
    top: 0;
}
#p2  :nth-child(21){
    background-color: greenyellow;
    color: rgb(15, 6, 6);
    position: sticky;
    top: 0;
}
