body{
    background: gray;
    font-family: sans-serif;
}
.p1{
    height: 50px;
    text-align: center;
    color:rgb(20, 42, 241);
    font-weight: bolder;
    font-size: 20px;

}
.gameboard{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 300px;
    height: 300px;
}
.row{
    height: 32%;

}
.coloumn{
    height: 100%;
    width: 32%;
    border: 2px solid rgb(236, 14, 14);
    float: left;
    font-size: 70px;
    font-weight: bolder;
    color: rgb(6, 241, 25);
    text-align: center;
    cursor: pointer;

}
